
@import url("style_img.css");
body,html,ul,li,a,h1,p,img{
	margin:0;
	padding:0;
}
/* header */
.container-fluid {
    width: 100%;
    height: auto;
    margin: 0;
    padding:0;
    overflow: hidden;
}
.container {
    margin: 0 auto;
    min-width: 50px;
    max-width: 1000px;
}

.header_container {
    background: #323232;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    text-align: center;
}

.triangle {
    margin: 0 auto 0 auto;
    width: 0;
    border-right: 120px solid transparent;
    border-left: 120px solid transparent;
}
/* portfolio */
@media screen and (min-width: 870px) {

    .portfolio_one {
		height:150px;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-left: 70px;
        margin-right: 70px;
		
    }
    .portfolio_two {
		height:150px;
        margin-top: 2px;
        display: flex;
        flex-flow: row wrap;
         justify-content: space-around; 
    }

    .portfolio_three {
        margin-top: 22px;
        margin-bottom: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-left: 70px;
        margin-right: 70px;
    }
}
@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        flex-flow: row wrap;
        padding: 20px 0;
    }
    nav li {
        flex: 1;
    }
    .logo{
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 90px;
        height: 70px;
        visibility: visible;
    }
    .triangle {
        position: absolute;
        top: 45px;
        height: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        border-top: 60px solid #323232;
    }
    .form {
        width: 70%;
    }

    .contact_text_3 {
        width: 30%;
        margin-top: 115px;
    }

    .input1 {
        width: 95%;
    }

    #input2 {
        width: 95%;
    }

    .circle_img {
        margin-top: 30px;
        flex: 1;
    }

    .describe {
        flex: 4;
    }

    #hex_img {
        margin-bottom: 15px;
    }

    .text {
        margin-left:20px;
    }
}

@media (max-width:767px) {
    .logo {
        visibility:hidden;
        position: absolute;
    }
    .triangle {
        position: absolute;
        top: 88px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        border-top: 40px solid #323232;
    }
    .form {
        width: 100%;
    }

    .contact_text_3 {
        width: 100%;
        margin-top: 20px;
    }

    .input1 {
        width: 98%;
    }


    #input2 {
        width: 98%;
    }
    .circle_img {
        width: 100%;
        margin-bottom: 15px;
    }

    .describe {
        width: 100%;
    }

    .text {
        margin-left: 0;
    }
}

.container > nav > ul >li > a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: 14px;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

.container > nav > ul >li >a:hover {
    color: #3ad5b6;
}

.portfolio {
    padding: 40px 20px 10px 20px;
    border-bottom: 1px solid #e4e9eb;
    border-top: 1px solid #e4e9eb;
    margin-top: 10px;
    margin-bottom: 10px;
}


.img {
    /* border-radius: 50%; */
    width: 160px;
    height: 206px;
    background-size: 100%;
    filter: grayscale(0.5);
    transition-duration: 0.5s;
}

.img:hover {
    filter: saturate(1.2);
    background-size: 105%;
}


.article_container {
    background: #2eb398;
    padding: 10px 0 10px 0;
}

.article {
    border-right: 1px solid #219d84;
    border-left: 1px solid #219d84;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
}

#hex_img {
	background: url('../img/sprite.png') no-repeat -191px -2189px;
	width: 181px;
	height: 206px;
 }

.text > h1  {
    color: #dcfff8;
    margin: 0;
}

.text > h2  {
    color: #1d7664;
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 10px;
}

.text > p {
    color: #dcfff8;
    text-align: justify;
    line-height: 1.7em;
}

.podpis_img {
    width: 280px;
    height: 80px;
    float: right;
    filter: opacity(80%);
}

.contact_container {
    background: #323232;
}


#social {
    top:63px;
	margin-left:550px;
    width: 250px;
    background: white;
}

#social ul {
    list-style: none;
    margin:0;
    padding: 0;
}
#social ul li a{
	float:left;
	display:inline;
}
#social > ul >li>a>img {
     width:40px;
     height: 40px;
    filter: grayscale(0.5);
    opacity: 0.8;
    transition-duration: 0.5s;
 }

#social > ul >li>a>img:hover {
    filter: grayscale(0);
    opacity: 1;
}

/* form */
.contact {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
    padding: 10px 20px 30px 20px;
}

.form > h1 {
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.form > h2 {
    color: #bebebe;
    font-weight: 300;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 30px;
}

.form {
    margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bebebe;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #bebebe;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #bebebe;
}
:-moz-placeholder { /* Firefox 18- */
    color: #bebebe;
}

.input1 {
    height: 40px;
    background: #454545;
    border: 0;
    padding-left: 10px;
    font-size: 14px;
    color: whitesmoke;
}

#input2 {
    margin-bottom: 5px;
    height: 200px;
    background: #454545;
    border: 0;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
    color: whitesmoke;
}

.feedback{
    height: 14px;
}

#message {
    margin-top: 5px;
    margin-bottom: 20px;
    height: 15px;
    color: #bebebe;
    padding-left: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.input1:focus{
    background: #bebebe;
    color: #222222;
}

#input2:focus{
    background: #bebebe;
    color: #222222;
}
.contact_text > p{
    margin:0;
    padding: 0;
    color: #bebebe;
    text-align: justify;
    font-size: 15px;
    line-height: 1.7em;
}

.contact_group {
     margin-top: 40px;
}

.contact_group > ul {
    padding: 0;
}

.contact_group > ul > li > img {
    padding-right: 20px;
}

.contact_img {
    width: 14px;
    height: 23px;
}

#mail {
    width: 20px;
    height: 13px;
}

.contact_group > ul > li {
    padding-bottom: 10px;
    color: #bebebe;
    list-style: none;
    font-size: 15px;
}

.send {
	width: 93px;
	height: 39px;
	background: #2eb398;
	color: #dcfff8;
	border: 0;
	margin-left:580px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'lato', sans-serif;
	text-transform: uppercase;
    }

.send:hover {
    background: #dcfff8;
    color: #2eb398;
    border: 0;
    font-weight: 500;
    font-family: 'lato', sans-serif;
    }
/* footer */
.foot  {
    background: #222222;
    margin:0;
    padding: 5px 0;
    height: 50px;
 }

footer > p {
    color: #898989;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.15em;
    font-size: 12px;
}










