.f1 {
    background: url("../img/hex111.png")no-repeat;
}
.f2 {
    background: url("../img/hex22.png")no-repeat;
}
.f3 {
    background: url("../img/hex33.png")no-repeat;
}
.f4 {
    background: url("../img/hex44.png")no-repeat;
}
.f5 {
    background: url("../img/hex55.png")no-repeat;
}
.f6 {
    background: url("../img/hex66.png")no-repeat;
}
.f7 {
    background: url("../img/hex77.png")no-repeat;
}
.f8 {
    background: url("../img/hex88.png")no-repeat;
}
.f9 {
    background: url("../img/hex99.png")no-repeat;
}
.f10 {
    background: url("../img/hex100.png")no-repeat;
}
.f11 {
    background: url("../img/hex1111.png")no-repeat;
}
.f12 {
    background: url("../img/hex122.png")no-repeat;
}
.f13 {
    background: url("../img/hex133.png")no-repeat;
}
